<h1> Formulaire Etudiant</h1>
<form (ngSubmit)="sauvegarder()">
    <input type="text" class="form" placeholder="Nom" [(ngModel)]="etudiant.nom" name="nom">
    <input type="text" class="form" placeholder="Prenom" [(ngModel)]="etudiant.prenom" name="prenom">
    <input type="text" class="form" placeholder="Rue" [(ngModel)]="etudiant.rue" name="rue">
    <input type="text" class="form" placeholder="CP" [(ngModel)]="etudiant.cp" name="cp">
    <input type="text" class="form" placeholder="ville" [(ngModel)]="etudiant.ville" name="ville">
    <input type="text" class="form" placeholder="courriel" [(ngModel)]="etudiant.courriel" name="courriel">
    <input type="text" class="form" placeholder="genre" [(ngModel)]="etudiant.genre" name="genre">
    <input type="text" class="form" placeholder="age" [(ngModel)]="etudiant.age" name="age">
    <input type="text" class="form" placeholder="ID" [(ngModel)]="etudiant.IdCand" name="ID">   
</form>
