<footer>
    <div class="footerText">
        <ul>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
            <li>Lorem Ipsum</li>
        </ul>
    </div>
    <div>
        <p class="footerText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris rhoncus nibh vitae quam accumsan, eu viverra dui euismod. Aenean massa arcu, imperdiet ut aliquam non, iaculis ut quam. Nulla ornare justo ut lacus pellentesque consectetur. Nam ut aliquet libero, nec laoreet turpis. Aenean maximus aliquet urna, quis vestibulum libero volutpat vitae. Ut lobortis ultrices dignissim. Quisque vel pellentesque mi. Pellentesque iaculis ligula vel tincidunt viverra.</p>
    </div>
    <div>
        <p class="footerText">Politique de confidentialité</p>
    </div>
</footer>